@page
@model Ex02.Pages.Example4Model

@{
    var notificationMessage = ViewData["notificationMessage"] as string;

    if (notificationMessage is not null)
    {
        <b>Оповещение для пользователя:</b>
        <p>@notificationMessage</p>
    }
}